*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --letras: 'Montserrat', sans-serif;
    --peso-pequeno: 500;
    --peso-grande: 600;
}

body {
    font-family: var(--letras);
    font-weight: var(--peso-pequeno);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.mi-seccion {
    width: 40%;
    height: 100%;
    background: linear-gradient(rgba(180, 146, 253, 0.3), rgba(173, 78, 245, 0.9543));
    position: absolute;
    right: 0; 
    top: 0; 
   
}

.foto1 {
    height: 50%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    
}

.cuestionario{
    width: 40%;
    height: 70%;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    border: 1px  rgba(209, 210, 250, 1);
    box-shadow: 20px 20px 60px 0px rgba(94, 94, 94, 0.15),
                -20px -20px 60px 0px rgba(94, 94, 94, 0.15);
    top: 50%; 
    left: 30%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    
}



h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: var(--peso-grande);
    margin-top: 10%;
}

.botones {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    max-width: 125px; 
    font-family: var(--letras);
    font-weight: var(--peso-pequeno);
   
    
}



.google, .apple {
    display: flex;
    align-items: center;
    justify-content: center;
}
.google img, .apple img {
        max-width: 15%;
        align-items: center;
        margin-right: 10px;
}


/* OR */

.input-container {
    margin-top: 4%;
}

.input-button {
    background-color: transparent;
    border: 1px solid #000;
    width: 100%;
    max-width: 85%;
    margin: 3% 0;
}

#email-container {
    margin-bottom: 0; 
}
#password-container {
    margin-top: 0; 
    
}
.input-button span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-right: 10px;
}

.input-button input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
}

.input-button input::placeholder {
    color: rgba(102, 103, 176, 1); 
}

.filled-button {
    background-color: rgba(107, 67, 255, 1);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #fff; 
    cursor: pointer;
    width: 100%; 
    margin-top: 0%; 
    max-width: 85%; 
    padding: 4%;
}


.text-container {
    text-align: right;
    margin-right: 8%;
    margin-top: 10px;  
}

.already-text {
    color: rgba(107, 67, 255, 1);
    font-size: 85%;
    font-weight: bold;

}


